version: '3.9'

services:
  petfile-web:
    restart: on-failure
    ports:
      - 80:80
    build: 
      context: .
      dockerfile: Dockerfile
    volumes:
      - $HOME/.aws/:/root/.aws:ro
    environment:
      - DBNAME
      - DBUSER
      - DBPASS
      - DBHOST
      - USE_S3=TRUE
      - AWS_DEFAULT_PROFILE
      - AWS_PROFILE
      - AWS_STORAGE_BUCKET_NAME=petfile-static-data
