{% extends 'main.html' %}

{% block title %}
    Home / PetMedic
{% endblock %}


{% block content %}

    {#    <h1> HOME PAGE</h1>#}


    <!-- Main jumbotron for a primary message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-primary" class="display-3" >Pet Electronic sTorage (P.E.T.)</h1>
            <p class="text-secondary" >Es una aplicación que se encarga de gestionar y almacenar los registros médicos de tus mascotas, como
                pueden ser vacunas, procesos y resultados o análisis como documentos. También permite compartir la
                información con veterinarios que estén registrados. </p>
            {#          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>#}
        </div>
    </div>

    <br>

    <div class="container">


    <hr>

    <div class="jumbotron">
        <div class="container">
            <h2 class="text-info" >Un espacio para tus mascotas</h2>
            <p>Cada mascota cuenta con un registro médico, su imagen, datos únicos y apartados como su cartilla de
                vacunación y expediente, donde estarán sus procesos y consultas y se guardarán documentos
                importantes.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-success" >Cartilla</h3>
                <p>Un lugar para llevar el registro de las vacunas con las que cuentan tus mascotas. Mantener
                    actualizada la cartilla, te permitirá tener un control para saber cuándo le toca una vacuna
                    adicional. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
            <div class="col-md-4">
                <h3 class="text-success" >Procesos</h3>
                <p>Le damos un lugar dentro del registro de tu mascota a los procesos, para nosotros es importante el
                    saber a cuáles procesos se ha sometido tu mascota, ya sea desde un hueso roto o algún tratamiento,
                    si está esterilizado, si ha tenido un parto o cesárea, por nombrar algunos. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
            <div class="col-md-4">
                <h3 class="text-success" >Consultas</h3>
                <p>Dentro de los procesos podrás guardar las consultas que haya tenido tu mascota con el veterinario y
                    una descripción del motivo de consulta, análisis, entre otros. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
            <div class="col-md-4">
                <h3 class="text-success" >Documentos</h3>
                <p> Este es un espacio que se encuentra dentro de los procesos, y aquí se guardan los documentos, ya
                    sean resultados de análisis, radiografías, ecos, etc. Nos permitirá tener los documentos en orden,
                    dentro de su debido proceso o consulta y acceder a ellos desde cualquier lugar. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
        </div>
    </div>

    <hr>

    <div class="jumbotron">
        <div class="container">
            <h2 class="text-warning" >Veterinario</h2>
            <p>En nuestra aplicación será necesario contar con los usuarios denominados veterinarios, ya que ellos son
                los únicos que podrán generar los registros de las vacunas, procesos y consultas, también se encargarán
                de subir los documentos que generen en la consulta y resultados de análisis. Es decir, son los
                veterinarios quienes generan el expediente de la mascota.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-danger" >Codigo QR</h3>
                <p> Cada veterinario contará con un QR único. Con él podrán registrarse los usuarios y compartir su
                    información, si eligen hacerlo. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
            <div class="col-md-4">
                <h3 class="text-danger" >Permisos</h3>
                <p>El veterinario podrá crear Vacunas, Procesos, Consultas y Documentos para el historial de tu mascota.
                    Además podrá podrá actualizarlas o eliminarlas.</p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>

        </div>

    </div>

{% endblock %}

