{% extends 'main.html' %}

{% block title %}
    Home / PetMedic
{% endblock %}


{% block content %}

    {#    <h1> HOME PAGE</h1>#}


    <!-- Main jumbotron for a primary message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Pet Electronic sTorage (P.E.T.)</h1>
            <p>Es una aplicación que se encarga de gestionar y almacenar los registros médicos de tus mascotas ya sean
                las vacunas, procesos y resultados o análisis como documentos. también permite compartir la información
                con Veterinarios que estén registrados. </p>
            {#          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>#}
        </div>
    </div>

    <br>

    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Sencilles</h2>
            <p>Reducido a un uso practico y como un archivero para facilitar el flujo del usuario o veterinario en la
                aplicación, podrás acceder a la información de una mascota especifica sin perderte. </p>
            {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
        </div>
        <div class="col-md-4">
            <h2>Accesibilidad y Disponibilidad </h2>
            <p>Podrás acceder a tus mascotas desde dónde quieras, mientras tengas internet, para acceder podrás iniciar
                sesión. Y para crear una cuenta solo es necesario ingresar un nombre de usuario y una contraseña, además
                de tu nombre y apellido si lo deseas, para ayudar a identificarte. </p>
            {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
        </div>
        {#        <div class="col-md-4">#}
        {#            <h2>Consultas</h2>#}
        {#            <p>Ya sea una simple revisión o tratamiento estético.</p>#}
        {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
        {#        </div>#}
    </div>

    <hr>

    <div class="jumbotron">
        <div class="container">
            <h2>Un espacio para tus mascotas</h2>
            <p>Cada mascota cuenta con un registro médico, su imagen, datos únicos y apartados como su cartilla de
                vacunación y expediente, donde estarán sus procesos y consultas y se guardaran documentos
                importantes.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Cartilla</h3>
                <p>Un lugar donde llevar el registro de las vacunas que se le ponen tus mascotas y ver si es necesario
                    el tener que administrar otra ya que es necesario mantenerse actualizado y proteger a tus
                    mascotas. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
            <div class="col-md-4">
                <h3>Procesos</h3>
                <p>Le damos un lugar dentro del registro de tu mascota a los procesos, para nosotros es importante el
                    saber que procesos se ha sometido tu mascota ya sea desde un hueso roto o algún tratamiento y como
                    no el saber si esta castrado, o ha tenido un parto natural tu mascota o uno por cesárea. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
            <div class="col-md-4">
                <h3>Consultas</h3>
                <p>Dentro de los procesos podrás guardar las consultas que haya tenido tu mascota con el veterinario, ya
                    sea que lo revisen por haber vomitado, o talvez por su comportamiento o algún análisis o el
                    resultado que haya salido de la consulta. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
            <div class="col-md-4">
                <h3>Documentos</h3>
                <p> Este es un espacio que se encuentra dentro de los procesos, y aquí se guardan los documentos, ya
                    sean resultados de análisis, radiografías, ecos, etc. Para poder tenerlos en orden dentro de su
                    debido proceso o consulta y acceder a ellos desde cualquier lugar. </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
        </div>
    </div>

    <hr>

    <div class="jumbotron">
        <div class="container">
            <h2>Veterinario</h2>
            <p>En nuestra aplicación serán necesario los veterinarios ya que ellos son los únicos que podrán generar los
                registros de las vacunas, procesos y consultas, también se encargarán de subir los documentos que
                generen en la consulta y resultados de análisis. En cuenta resumida ellos generan el expediente medio de
                tu mascota.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Codigo QR</h3>
                <p> Cada veterinario contara con un QR único, con el podrán registrarse los usuarios y compartir su
                    información si eligen hacerlo </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>
            <div class="col-md-4">
                <h3>Permisos</h3>
                <p>Como veterinario este podrá crear Vacunas, Procesos, Consultas y Documentos para el historial de tu
                    mascota. de la misma forma podrá Actualizarlas o eliminarlas </p>
                {#            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
            </div>

        </div>

    </div>

{% endblock %}

