{% extends 'main.html' %}

{% block title %}
    ProcessDetail / PetMedic
{% endblock %}

{% block content %}

    <h1> {{ id_pet }} Process Detail </h1>
    <br>
    <a href="{% url 'process_list' id_user id_pet %}"> Go Back</a>
    <br>
    <br>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Type Process</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Weight</th>
                <th scope="col">Date</th>
                {% if request.user|has_group:"group_vet" %}
                    <th scope="col"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            <tr class="table-active">
                <th scope="row">{{ process.id }}</th>
                <td>{{ process.type_process }}</td>
                <td>{{ process.title }}</td>
                <td>{{ process.description }}</td>
                <td>{{ process.weight }}</td>
                <td>{{ process.created }}</td>
                {% if request.user|has_group:"group_vet" %}
                    <td><a href="{% url 'process_update' id_user id_pet process.id %}">Update</a></td>
                {% endif %}
            </tr>
        </table>
        <br>
        {% if request.user|has_group:"group_vet" %}
            <a href="{% url 'process_delete' id_user id_pet process.id %}">Delete</a>
        {% endif %}
    </div>
    <br>
    <h1> Document List </h1>
    <br>
    {% if request.user|has_group:"group_vet" %}
        <a href="{% url 'document_create' id_user id_pet process.id %}">Add New Document</a>
    {% endif %}
    <br>
    <br>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr class="table-active">
                    <th scope="row">{{ document.id }}</th>
                    <td>{{ document.name }}</td>
                    <td><a href="{% url 'document_detail' id_user id_pet process.id document.id %}">Detail</a></td>
                </tr>
                {% empty %}
                <h3> No Documents in the Process </h3>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}