{% extends 'main.html' %}

{% block title %}
    ProcessList / PetMedic
{% endblock %}

{% block content %}

    <h1>Process List</h1>


    <div class="col-lg-4">
        <form method="GET">
            <div class="form-group">

                <div class="input-group mb-3">
                    <input value="{{ search_input }}" name="search-area" type="text" class="form-control"
                           placeholder="Process"
                           aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button value="Search" class="btn btn-secondary" type="submit" id="button-addon2">Search
                    </button>
                </div>

            </div>
        </form>
    </div>
    <br>

    {% if request.user|has_group:"group_user" %}
        <a href="{% url 'pet_detail' id_pet %}" class="btn btn-secondary"> Go Back</a>
    {% endif %}
    {% if request.user|has_group:"group_vet" %}
        <a href="{% url 'user_pet_detail' id_user id_pet %}" class="btn btn-secondary"> Go Back </a>
    {% endif %}

    <br>
    <br>
    {% if request.user|has_group:"group_vet" %}
        <a href="{% url 'process_create' id_user id_pet %}" class="btn btn-success">Add New Process</a>
    {% endif %}
    <br>
    <br>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Type Process</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for process in processes %}
                <tr class="table-active">
                    <th scope="row">{{ process.id }}</th>
                    <td>{{ process.title }}</td>
                    <td>{{ process.type_process }}</td>
                    <td><a href="{% url 'process_detail' id_user id_pet process.id %}" class="btn btn-primary">Detail</a></td>
                </tr>
                {% empty %}
                <h3> No Process in List </h3>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}