{% extends 'main.html' %}

{% block title %}
    Process Create / PetMedic
{% endblock %}

{% block content %}
    <legend>Process Create Form </legend>

    <a href="{% url 'process_list' id_user id_pet %}" class="btn btn-secondary"> Go Back</a>

    <form name="process_create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>

            <div class="form-group">
                <label for="type_process" class="form-label mt-4">Type Process</label>
                <select name="type_process" class="form-select" id="type_process" value="{{ process.type_process }}">
                    <option value="C">Consult</option>
                    <option value="P">Process</option>
                </select>
            </div>

            <div class="form-group">
                <label for="title" class="form-label mt-4">Process Title</label>
                <input name="title" type="text" class="form-control" id="title" aria-describedby="petlHelp"
                       placeholder="Enter Process Title" value="{{ process.title }}">
            </div>

            <div class="form-group">
                <label for="description" class="form-label mt-4">Process Description</label>
                <textarea name="description" class="form-control" id="description" rows="3"
                          placeholder="Enter Process Description"
                          value="{{ process.description }}">{{ process.description }}</textarea>
            </div>

            <div class="form-group">
                <label for="weight" class="form-label mt-4">Pet Weight</label>
                <input name="weight" type="number" class="form-control" id="weight" aria-describedby="petlHelp"
                       placeholder="Enter Pet Weight" min="0.01" step="0.01" value="{{ process.weight }}">
            </div>

            <br>

            <button type="submit" class="btn btn-success">Submit</button>
        </fieldset>
    </form>

{% endblock %}