{% extends 'main.html' %}

{% block title %}
    Conection UV / PetMedic
{% endblock %}

{% block content %}
    <legend> Conection</legend>

    <form name="pet_create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>

            <h3>do you want to share your information with this veterinarian?</h3>
            <br>
            <div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-active">
                        <th scope="row">{{ vet.username }}</th>
                        <td>{{ vet.first_name }}</td>
                        <td>{{ vet.last_name }}</td>
                    </tr>
                </table>
                <br>
            </div>

            <button href="{% url 'vet_create' vet.id %}" type="submit" class="btn btn-primary" >Accept</button>
        </fieldset>
    </form>


{% endblock %}