{% extends 'main.html'%}

{% block title %}
    Register / PetMedic
{% endblock %}

{% block content %}

<h1>Register</h1>

<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}"> Username: </label>
        {{ form.username }}
        {{ form.help_text }}
    </div>
    <br>
    <div>
        {{ form.password1.errors }}
        <label for="{{ form.password1.id_for_label }}"> password1: </label>
        {{ form.password1 }}
        {{ form.password1.help_text }}
    </div>
    <div>
        {{ form.password2.errors }}
        <label for="{{ form.password2.id_for_label }}"> password2: </label>
        {{ form.password2 }}
        {{ form.password2.help_text }}
    </div>
    <br>
    <div class="form-check form-switch" >
        {{ form.group.errors }}
        <label for="{{ form.group.id_for_label }}"> {{ form.group.label}} :  </label>
        {{ form.group }}
        {{ form.group.help_text }}
    </div>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Register">

    {% if Register.checked %}
        holitas
    {% endif %}
</form>
<br>
<p> Already have an account <a href="{% url 'login' %}"> Login </a></p>

{% endblock %}