{% extends 'main.html' %}

{% block title %}
    PetCreate / PetMedic
{% endblock %}

{% block content %}
    <legend>Pet Create Form </legend>

    {% if request.user|has_group:"group_user" %}
        <a href="{% url 'pet_list' %}" class="btn btn-secondary"> Go Back</a>
    {% endif %}
    {% if request.user|has_group:"group_vet" %}
        <a href="{% url 'user_detail' pet.owner.id %}" class="btn btn-secondary"> Go Back</a>
    {% endif %}

    <form name="pet_create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>

            <div class="form-group">
                <label for="name" class="form-label mt-4">Pet Name</label>
                <input name="name" type="text" class="form-control" id="name" aria-describedby="petlHelp" placeholder="Enter Pet Name" value="{{ pet.name }}">
            </div>

            <div class="form-group">
                <label for="type_animal" class="form-label mt-4">Pet Type</label>
                <input name="type_animal" type="text" class="form-control" id="type_animal" list="typeAnimalList" placeholder="Enter Pet Type" value="{{ pet.type_animal }}">
                <datalist id="typeAnimalList">
                    {%  for animal in pet_type_list  %}
                        <option value="{{ animal }}">{{ animal }}</option>
                        {{ animal }}
                    {% empty %}
                        <h3> No pet in List </h3>
                    {% endfor %}
                </datalist>
            </div>

            <div class="form-group">
                <label for="raze" class="form-label mt-4">Pet Raze</label>
                <input name="raze" type="text" class="form-control" id="raze" placeholder="Enter Pet Raze" value="{{ pet.raze }}">
            </div>

            <div class="form-group">
                <label for="gender" class="form-label mt-4">Animal Gender</label>
                <select name="gender"  class="form-select" id="gender" value="{{ pet.gender }}">
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
            </div>

            <div class="form-group">
                <label for="description" class="form-label mt-4">Pet Description</label>
                <textarea name="description" class="form-control" id="description" rows="3" placeholder="Enter Pet Description" value="{{ pet.description }}">{{ pet.description }}</textarea >
            </div>

            <div class="form-group">
                <label for="birth_day" class="form-label mt-4">Pet Bithday</label>
                <input name="birth_day" type="date" class="form-control" id="birth_day" placeholder="Animal Type" value = "{{ pet.birth_day }}">
            </div>

            <div class="form-group">
                <label for="picture" class="form-label mt-4">Pet Image: {{ pet.picture }}</label>
                <input name="picture" class="form-control" type="file" id="picture" value="{{ pet.picture }}">
            </div>

            <br>

            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>


{% endblock %}