{% extends 'main.html' %}

{% block title %}
    PetList / PetMedic
{% endblock %}

{% block content %}

    <h1>Pet List </h1>

    <div class="row">
        <div class="col-lg-4">
            <form method="GET">
                <div class="form-group">

                    <div class="input-group mb-3">
                        <input value="{{ search_input }}" name="search-area" type="text" class="form-control"
                               placeholder="Name's Pet"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button value="Search" class="btn btn-secondary" type="submit" id="button-addon2">Search
                        </button>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-lg-8">
            <div style=" float: right;">
                <a href="{% url 'pet_create' %}" class="btn btn-success">Add New Pet</a>
            </div>
        </div>
    </div>

    <div class="bs-docs-section">
        <div class="row">
            {% for pet in pets %}
                <div class="col-lg-4">

                    <div class="bs-component">
                        <div class="card mb-3">
                            <h3 class="card-header">{{ pet.name }}</h3>
                            <div class="card-body">
                                <div style="text-align: center">
                                    {% if pet.picture %}
                                        <img src="{{ pet.picture.url }}" height="150" class="center">
                                    {% endif %}
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Type Animal : {{ pet.type_animal }}</li>
                                <li class="list-group-item">Raze : {{ pet.raze }}</li>
                                <li class="list-group-item">Gender : {{ pet.gender }}</li>
                            </ul>
                            <div class="card-footer text-muted">
                                <div class="d-flex justify-content-center" >
                                    <a href="{% url 'pet_detail' pet.id %}" class="btn btn-info">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                {% empty %}
                <h3> No pet in List </h3>
            {% endfor %}
        </div>
    </div>

    <br>

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Type Animal</th>
                <th scope="col">Gender</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for pet in pets %}
                <tr class="table-active">
                    <th scope="row">{{ pet.id }}</th>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.type_animal }}</td>
                    <td>{{ pet.gender }}</td>
                    <td><a href="{% url 'pet_detail' pet.id %}">Button Detail</a></td>
                </tr>
                {% empty %}
                <h3> No pet in List </h3>
            {% endfor %}
        </table>
    </div>

    <br>
    <br>

{% endblock %}